# Assignment 2
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [19]:
st = 'Print only the words that start with s in this sentence'

In [20]:
#Code here
for i in st.split():
  if i[0]=='s':
    print(i)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [8]:
for i in range(10):
  if i%2==0:
    print (i , "is even")

0 is even
2 is even
4 is even
6 is even
8 is even

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [11]:
#Code Here
list1=[x for x in range(1,50) if x%3==0]
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [21]:
st = 'Print every word in this sentence that has an even number of letters'

In [24]:
#Code in this cell
for i in st.split():
  if len(i)%2==0:
    print("even!")
  else:
    print(i)

Print
every
even!
even!
even!
even!
even!
has
even!
even!
even!
even!
letters

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [9]:
#Code in this cell
for i in range(1,100):
  if i%3==0:
    print("Fizz")
  elif (i%5==0):
    print("Buzz")
  elif i%3==0 and i%5==0:
    print("FizzBuzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [13]:
st = 'Create a list of the first letters of every word in this string'

In [18]:
#Code in this cell
list2=[x[0] for x in st.split() ]
list2

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!